<!DOCTYPE html>
<html lang="en">

<head>
    <title>Holberton School</title>
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
    <link rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon"
        href="https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon.png">
</head>

<body>
    <header>
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>&nbsp;</h4>
                <div class="popover">
                    {% for state in states|sort(attribute="name") %}
                    <h2>
                        {{ state|attr('name') }}
                    </h2>
                    <ul>
                        {% for city in state|attr("cities")|sort(attribute="name") %}
                        <li>{{ city|attr('name')}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>

            </div>

            <div class="amenities">
                <h3>Amenity</h3>
                <h4>&nbsp;</h4>
                <div class="popover">
                    <ul>
                        {% for ameniti in amenities|sort(attribute="name") %}
                        <li>{{ ameniti|attr('name') }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="f_button">
                <button class="s_button">Search</button>
            </div>
        </section>
        <section class="places">
            <h1>Places</h1>
            {% for place in places | sort(attribute="name") %}
            <div class="place-article">
                <article>
                    <div class="article-details">
                        <div class="article-name">
                            <h2>{{ place.name }}</h2>
                        </div>
                        <div class="price_by_night">
                                <p>${{ place.price_by_night }}</p>
                        </div>
                    </div>
                    <div class="information">
                        <div class="max_guest">
                            <!-- <link rel="icon" href="images/icon_group.png"> -->
                            <p>{{ place.max_guest }} Guests</p>
                        </div>
                        <div class="number_rooms">
                            <!-- <link rel="icon" href="images/icon_bed.png"> -->
                            <p>{{ place.number_rooms }} Room</p>
                        </div>
                        <div class="number_bathrooms">
                            <!-- <link rel="icon" href="images/icon_bath.png"> -->
                            <p>{{ place.number_bathrooms }} Bathrooms</p>
                        </div>
                    </div>
                    <div class="user">
                        {% for user in users %}
                        {% if user.id == place.user_id %}
                            <p><b>Owner:</b> {{ user.first_name }} {{ user.last_name }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="description">
                        <p>{{ place.description | safe}}</p>
                    </div>
                    <!--<div class="amenities">
                        <h2>Amenities</h2>
                        <ul>
                            <li class="pets">
                                <div class="images-pets">
                                </div>
                                <p>Pets frinedly</p>
                            </li>
                            <li class="tv">
                                <div class="images-tv">
                                </div>
                                <p>TV</p>
                            </li>
                            <li class="wifi">
                                <div class="images-wifi"></div>
                                <p>Wifi</p>
                            </li>
                        </ul>
                    <div class="reviews">
                            <h2>2 Reviews</h2>
                            <ul>
                                <li>
                                    <h3>From Andres Callejas the 27th January 2019</h3>
                                    <p>It's a good place maybe I will come back soon who knows</p>
                                    <h3>From Marlon Garcia the kill 26th April 2008</h3>
                                    <p>Kill the marlon en Venezuela</p>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </article>
            </div>
            {% endfor %}
        </section>
    </div>
    <footer>
        <p>Holberton School</p>
    </footer>
</body>

</html>
